<h1>Dashboard</h1>

<h2>Your Expenses Due This Week</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Due Date</th>
      <th>Payment Date</th>
      <th>Late Fee</th>
      <th>APR</th>
      <th>Paid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.name %></td>
        <td><%= expense.category %></td>
        <td><%= number_to_currency (expense.amount) %></td>
        <td><%= expense.dueDate.strftime("%m/%d/%Y") %></td>
        <td><%= expense.paymentDate.strftime("%m/%d/%Y") %></td>
        <td><%= expense.lateFee %></td>
        <td><%= expense.apr %></td>
        <td><%= expense.paid %></td>
        <td><%= link_to 'View', expense %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Amount Due: <%= number_to_currency (@sum) %></h3>

<%= link_to "This Week", dashboard_show_path(sort: "week") %>
<%= link_to "This Month", dashboard_show_path(sort: "month") %>
<%= link_to "This Quarter", dashboard_show_path(sort: "quarter") %>
<%= link_to "This Year", dashboard_show_path(sort: "year") %>
