<div class="row">
  <div class="col-sm-12">
      <h2>Your Income and Expense Overview</h2>
      <p class="col-sm-12">
        <%= link_to "This Week", dashboard_show_path(sort: "week"), class: "btn btn-primary" %>&nbsp;&nbsp;
        <%= link_to "This Month", dashboard_show_path(sort: "month"), class: "btn btn-primary" %>&nbsp;&nbsp;
        <%= link_to "This Quarter", dashboard_show_path(sort: "quarter"), class: "btn btn-primary" %>&nbsp;&nbsp;
        <%= link_to "This Year", dashboard_show_path(sort: "year"), class: "btn btn-primary" %>
      </p>

      <h3>Amount Due: <%= number_to_currency (@sum) %></h3>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Due Date</th>
            <th>Date to Pay</th>
          </tr>
        </thead>

        <tbody>

          <% @expenses.each do |expense| %>
            <tr>
              <td><%= expense.name %></td>
              <td>
                <% if expense.category %>
                  <%= expense.category.title %>
                <% else %>
                  None
                <% end %>
              </td>
              <td><%= number_to_currency (expense.amount) %></td>
              <td><%= expense.due_date.strftime("%m/%d/%Y") %></td>
              <td><%= expense.payment_date.strftime("%m/%d/%Y") %></td>
              <td><%= link_to 'Manage Payments', expense_expense_payments_path(expense) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>

<h3>Goals</h3>

<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>Goal</th>
    <th>Desired Amount</th>
    <th>Actual Amount</th>
    <th>Due Date</th>
  </tr>
  </thead>

  <tbody>

  <% @goal_data_points.each do |data_point| %>
      <tr>
        <td><%= link_to "#{data_point.goal.name}", data_point.goal %></td>
        <td><%= number_to_currency(data_point.desired_amount) %></td>
        <td><%= number_to_currency(data_point.actual_amount) %></td>
        <td><%= data_point.due_date.strftime("%m/%d/%Y") %></td>
      </tr>
  <% end %>

  </tbody>
</table>

