<p id="notice"><%= notice %></p>

<h1>Manage Payments for <q><%= @expense.name %></q></h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Due date</th>
      <th>Payment date</th>
      <th>Paid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expense_payments.each do |expense_payment| %>
      <tr>
        <td><%= expense_payment.amount %></td>
        <td><%= expense_payment.due_date %></td>
        <td>
          <% if expense_payment.paid %>
            Paid on <%= expense_payment.payment_date %>
          <% else %>

            <%= form_for([@expense, expense_payment]) do |f| %>
              <%= f.hidden_field :paid, value: true %>
              <%= f.hidden_field :payment_date, value: Date.today %>
              <%= f.submit "Mark as paid" %>
            <% end %>

          <% end %>
        <td>
        <td><%= link_to 'Show', expense_expense_payment_path(@expense, expense_payment) %></td>
        <td><%= link_to 'Edit', edit_expense_expense_payment_path(@expense, expense_payment) %></td>
        <td><%= link_to 'Delete', expense_expense_payment_path(@expense, expense_payment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expense payment', new_expense_expense_payment_path(@expense) %>
