<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @expense_payment.amount %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @expense_payment.due_date %>
</p>

<p>
  <strong>Payment date:</strong>
  <%= @expense_payment.payment_date %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @expense_payment.paid %>
</p>

<%= link_to 'Edit', edit_expense_payment_path(@expense_payment) %> |
<%= link_to 'Back', expense_payments_path %>
