<%= form_for(@income) do |f| %>
  <% if @income.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@income.errors.count, "error") %> prohibited this income from being saved:</h2>

      <ul>
      <% @income.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :income_source %><br>
    <%= f.text_area :income_source %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_area :category %>
  </div>
  <div class="field">
    <%= f.label :gross_income %><br>
    <%= f.text_field :gross_income %>
  </div>
  <div class="field">
    <%= f.label :net_income %><br>
    <%= f.text_field :net_income %>
  </div>
  <div class="field">
    <%= f.label :bank_account %><br>
    <%= f.text_area :bank_account %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
