<p id="notice" class="row"><%= notice %></p>

<h1>Incomes</h1>
<p class="col-sm-12">
  <%= link_to 'New Income', new_income_path, class: "btn btn-primary" %>
</p>
<div class="col-sm-12">
  <table class="table">
    <thead>
      <tr>
        <th>Income Source</th>
        <th>Income Amount</th>
        <th>Category</th>
        <th>Bank Account</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @incomes.each do |income| %>
        <tr>
          <td><%= income.income_source %></td>
          <td></td>
          <td>
            <% if income.category %>
              <%= income.category.title %>
            <% else %>
              None
            <% end %>
          </td>
          <td><%= income.bank_account %></td>
          <td><%= link_to 'Show', income %></td>
          <td><%= link_to 'Edit', edit_income_path(income) %></td>
          <td><%= link_to 'Manage Payments', income_income_payments_path(income) %></td>
          <td><%= link_to 'Destroy', income, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>


