<%= form_for(@data_point) do |f| %>
  <% if @data_point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_point.errors.count, "error") %> prohibited this data_point from being saved:</h2>

      <ul>
      <% @data_point.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :goal_id %><br>
    <%= f.number_field :goal_id %>
  </div>
  <div class="field">
    <%= f.label :desired_amount %><br>
    <%= f.text_field :desired_amount %>
  </div>
  <div class="field">
    <%= f.label :actual_amount %><br>
    <%= f.text_field :actual_amount %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
