<p id="notice"><%= notice %></p>

<p>
  <strong>Goal:</strong>
  <%= @data_point.goal_id %>
</p>

<p>
  <strong>Desired amount:</strong>
  <%= @data_point.desired_amount %>
</p>

<p>
  <strong>Actual amount:</strong>
  <%= @data_point.actual_amount %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @data_point.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @data_point.end_date %>
</p>

<%= link_to 'Edit', edit_data_point_path(@data_point) %> |
<%= link_to 'Back', data_points_path %>
