<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.select(:duration, options_for_select(@durations)) %>
  </div>
  <div class="field">
    <%= f.label :frequency %><br>
    <%= f.select(:frequency, options_for_select(@frequencies)) %>
  </div>
  <div class="field">
    <%= f.label :desired_total %><br>
    <%= f.text_field :desired_total %>
  </div>

    <div class="field">
      <%= f.label :actual_total %><br>
      <% if @goal.persisted? %>
        <p><%=@goal.actual_total%></p>
          <% else %>
          <%= f.text_field :actual_total %>
      <% end %>
    </div>


    <% if @goal.persisted? %>
        <hr>
        <h3>Due Dates:</h3>

        <%= f.fields_for :data_points do |builder| %>
            <div class="field">
              <%= builder.label :desired_amount %><br>
              <%= builder.text_field :desired_amount %>
            </div>
            <div class="field">
              <%= builder.label :actual_amount %><br>
              <%= builder.text_field :actual_amount %>
            </div>
            <div class="field">
              <%= builder.label :due_date %><br>
              <%= builder.date_select :due_date %>
            </div>
            <br><hr>
        <% end %>

    <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>