<p id="notice"><%= notice %></p>

<h1>Listing Income Payments</h1>

<table>
  <thead>
    <tr>
      <th>Gross income</th>
      <th>Net income</th>
      <th>Paymentdate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @income_payments.each do |income_payment| %>
      <tr>
        <td><%= income_payment.gross_income %></td>
        <td><%= income_payment.net_income %></td>
        <td><%= income_payment.paymentDate %></td>
        <td><%= link_to 'Show', income_payment %></td>
        <td><%= link_to 'Edit', edit_income_payment_path(income_payment) %></td>
        <td><%= link_to 'Destroy', income_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Income payment', new_income_payment_path %>
