<p id="notice"><%= notice %></p>

<h1>Listing Income Payments <q><%= @income.income_source %></q></h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Gross income</th>
      <th>Net income</th>
      <th>Payment date</th>
      <th>Received</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @income_payments.each do |income_payment| %>
      <tr>
        <td><%= income_payment.gross_income %></td>
        <td><%= income_payment.net_income %></td>
        <td><%= income_payment.payment_date %></td>
        <td>
          <% if income_payment.received %>
            Received on <%= income_payment.payment_date %>
          <% else %>

            <%= form_for([@income, income_payment]) do |f| %>
              <%= f.hidden_field :paid, value: true %>
              <%= f.hidden_field :payment_date, value: Date.today %>
          <%= f.submit "Mark as received" %>
            <% end %>

          <% end %>
        <td>
        <td><%= link_to 'Show', income_income_payment_path(@income, income_payment) %></td>
        <td><%= link_to 'Edit', edit_income_income_payment_path(@income, income_payment) %></td>
        <td><%= link_to 'Delete', income_income_payment_path(@income, income_payment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Income payment', new_income_income_payment_path(@income) %>
