<p id="notice"><%= notice %></p>

<p>
  <strong>Gross income:</strong>
  <%= @income_payment.gross_income %>
</p>

<p>
  <strong>Net income:</strong>
  <%= @income_payment.net_income %>
</p>

<p>
  <strong>Paymentdate:</strong>
  <%= @income_payment.paymentDate %>
</p>

<%= link_to 'Edit', edit_income_payment_path(@income_payment) %> |
<%= link_to 'Back', income_payments_path %>
