<h1>Expenses</h1>

<%= link_to 'New Expense', new_expense_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Due Date</th>
      <th>Payment Date</th>
      <th>Late Fee</th>
      <th>APR</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.name %></td>
        <td>
          <% if expense.category %>
            <%= expense.category.title %>
          <% else %>
            None
          <% end %>
        </td>
        <td><%= number_to_currency (expense.amount) %></td>
        <td><%= expense.dueDate %></td>
        <td><%= expense.paymentDate %></td>
        <td><%= expense.lateFee %></td>
        <td><%= expense.apr %></td>
        <td><%= link_to 'Show', expense %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= link_to 'Manage Payments', expense_expense_payments_path(expense) %></td>
        <td><%= link_to 'Delete', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  </tbody>
</table>
